<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <title>MSAPP Index</title>
    <style>
      body {
        background: #C9DFEC;
        margin: 0;
      }
    </style>
  </head>
  <body>
  <h3>
    <div style="text-align: right; vertical-align: top;">
        <a href="http://127.0.0.1:8080/auth/login">Login</a><br>
        <a href="http://127.0.0.1:8080/auth/registration">Registration</a>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Logout" />
        </form>
    </div>
    <br>&nbsp</br>
    <br>&nbsp</br>
    <div style="text-align: center;">
        <h2>MSA App menu</h2>
        <a href="http://127.0.0.1:8080/users">All Users</a><br>
        <a href="http://127.0.0.1:8080/users/1">Get User by ID</a><br>
        <a href="http://127.0.0.1:8080/fraudchecks">Antifraud log</a><br>
        <a href="http://127.0.0.1:8080/fraudchecks/1">Antifraud log by ID</a><br>
        <a href="http://127.0.0.1:8080/fraudchecks/newcheck/1">Check new fraud by id</a><br>
        <a href="http://127.0.0.1:8080/users/seachByName/admin">Search for user name</a><br>
        <a href="http://127.0.0.1:8080/messages">Get all messages</a><br>
        <a href="http://127.0.0.1:8080/messages/1">Get particular message</a><br>
        <br>
   </div>
  </h3>
  </body>
</html>