<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <title>MSAPP Index</title>
    <style>
      body {
        background: #C9DFEC;
        margin: 0;
      }
    </style>
  </head>
  <body>
  <h3>
    <div style="text-align: right; vertical-align: top;">
        <a href="http://127.0.0.1:8080/auth/login">Login</a><br>
        <a href="http://127.0.0.1:8080/auth/registration">Registration</a>
    </div>
    <br>&nbsp</br>
    <br>&nbsp</br>
    <div style="text-align: center; text">
        <a href="http://127.0.0.1:8080/users">All Users</a><br>
        <a href="http://127.0.0.1:8080/users/1">Get User by ID</a><br>
        <a href="http://127.0.0.1:8081/antifraud">Users</a><br>
        <a href="http://127.0.0.1:8081/antifraud/1">Check Fraud by ID</a><br>
   </div>
  </h3>
  </body>
</html>